<div class="flex ">
  <div class="w-64 min-h-svh bg-gray-800 text-white">
    <div class="p-4 flex gap-2 my-10">
      <img src="pokemon-logo-png-1428.png" alt="Pokemon Logo">
    </div>
    <ul>
      <li class="p-4 hover:bg-gray-700 text-lg mb-2" routerLink="/pokemon-list">
        <span class="text-lg flex items-center">
          <i class="fa-solid fa-list px-4 text-2xl"></i> Pokemon List</span>
      </li>
      <li class="p-4 hover:bg-gray-700 text-lg" routerLink="/form-submission">
        <span class="text-lg flex items-center"><i class="fa-regular fa-file px-4 text-2xl"></i>Form Submission</span>
      </li>
    </ul>
  </div>
  <div class="flex-1 bg-slate-100/70">
    <router-outlet/>
  </div>
</div>

